/* Style of InputLabel component */
.label {
  border: var(--white-color) 1px solid;
  border-radius: 4px;
  padding: 2px 4px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
