/* Style of the edit character page */
.container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 212px;
  height: 212px;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.skillItem {
  padding-left: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  * {
    color: white;
  }
}
