/* Style of the edit character page */
.container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 212px;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
